<html>
    <h1>{{ country.name }}</h1>
    <h2>Travel Risk Summary</h2>
    <p>{{ country.travel_risk_summary|safe }}</p>
    <h2>Standing Travel Advice</h2>
    <p>{{ country.standing_travel_advice|safe }}</p>
    <h2>Personal Risk</h2>
    <p>{{ country.personal_risk|safe }}</p>
    <h2>Political situation</h2>
    <p>{{ country.country_stability|safe }}</p>
    <h2>Getting there</h2>
    <p>{{ country.getting_there|safe }}</p>
    <h2>Getting around</h2>
    <p>{{ country.getting_around|safe }}</p>
    <h2>Practicalities</h2>
    <p>{{ country.practicalities|safe }}</p>
    <h2>Geography and weather</h2>
    <p>{{ country.geography_and_weather|safe }}</p>
    <h2>Cultural tips</h2>
    <p>{{ country.cultural_tips|safe }}</p>
    <h2>Medical advice</h2>
    <p>{{ country.medical_advice|safe }}</p>
    <h2>Vaccinations</h2>
    <p>{{ country.vaccinations|safe }}</p>
    <h2>Diseases</h2>
    <p>{{ country.diseases|safe }}</p>
</html>